<h1>Messages#index</h1>
<p><%= @msg %></p>
<table>
    <tr>
        <th>ID</th>
        <th>title</th>
        <th>card</th>
        <th colspan="2"></th>
    </tr>
    <tr>
    <% @data.each do |obj| %>
        <td><%= obj.id %></td>
        <td><a href='/messages/<%= obj.id %>'><%= obj.title %></a></td>
        <td><%= obj.card_id %></td>
        <td><a href='/messages/edit/<%= obj.id %>'>編集</a></td>
        <td><a href='javascript:delData(<%= obj.id %>)'>削除</a></td>
    </tr>
    <% end %>
</table>

<script>
function delData(num){
    if (confirm('このデータを削除しますか？')){
        document.location = "/messages/delete/" + num;
    }
    return false;
}
</script>


